@font-face {
  font-family: 'Nanum Square Round';
  font-weight: 300;
  src: url('./fonts/NanumSquareRoundL.ttf') format('truetype'),
    url('./fonts/NanumSquareRoundL.otf') format('opentype'),
    url('./fonts/NanumSquareRoundL.woff2') format('woff2'),
    url('./fonts/NanumSquareRoundL.woff') format('woff');
}

@font-face {
  font-family: 'Nanum Square Round';
  font-weight: 400;
  src: url('./fonts/NanumSquareRoundR.ttf') format('truetype'),
    url('./fonts/NanumSquareRoundR.otf') format('opentype'),
    url('./fonts/NanumSquareRoundR.woff2') format('woff2'),
    url('./fonts/NanumSquareRoundR.woff') format('woff');
}

@font-face {
  font-family: 'Nanum Square Round';
  font-weight: 700;
  src: url('./fonts/NanumSquareRoundB.ttf') format('truetype'),
    url('./fonts/NanumSquareRoundB.otf') format('opentype'),
    url('./fonts/NanumSquareRoundB.woff2') format('woff2'),
    url('./fonts/NanumSquareRoundB.woff') format('woff');
}

@font-face {
  font-family: 'Nanum Square Round';
  font-weight: 800;
  src: url('./fonts/NanumSquareRoundEB.ttf') format('truetype'),
    url('./fonts/NanumSquareRoundEB.otf') format('opentype'),
    url('./fonts/NanumSquareRoundEB.woff2') format('woff2'),
    url('./fonts/NanumSquareRoundEB.woff') format('woff');
}
